<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
  
<mapper namespace='modelo.dao.mapper.BlackboxMapper'>

	<select id='getBlackboxes' resultType='BlackboxAdminInfo'>
		SELECT BLACKBOX.id as id, identificador_unico as identificador, BLACKBOX.nombre as nombre,
				BLACKBOX.passwd as passwd, DATO_USUARIO.id as idUsuario, DATO_USUARIO.nombre as nombreUsuario
		  FROM BLACKBOX, (
		SELECT id, nombre
		  FROM USUARIO) as DATO_USUARIO
		 WHERE DATO_USUARIO.id = BLACKBOX.usuario_id;
	</select>
	
	<insert id='addBlackbox'>
		INSERT INTO BLACKBOX (identificador_unico, passwd, usuario_id)
			   VALUES (#{idUnico}, #{passwd}, #{idUsuario})
	</insert>

	<delete id='borrarBlackbox' parameterType="Integer">
		DELETE FROM BLACKBOX
		 WHERE id = #{id}
	</delete>
	
	<update id='editarBlackbox'>
		UPDATE BLACKBOX
		   SET identificador_unico=#{idUnico}, passwd=#{passwd}, usuario_id=#{idUsuario}
		 WHERE id = #{id}
	</update>
	
	<select id='getBlackboxPorId' parameterType='Integer' resultType='BlackboxAdminInfo'>
		SELECT BLACKBOX.id as id, identificador_unico as identificador, BLACKBOX.nombre as nombre,
				BLACKBOX.passwd as passwd, DATO_USUARIO.id as idUsuario, DATO_USUARIO.nombre as nombreUsuario
		  FROM BLACKBOX, (
		SELECT id, nombre
		  FROM USUARIO) as DATO_USUARIO
		 WHERE DATO_USUARIO.id = BLACKBOX.usuario_id
		   AND BLACKBOX.id = #{id}
	</select>
	
	<select id='getBlackboxPorIdUnico' parameterType='String' resultType='BlackboxAdminInfo'>
		SELECT BLACKBOX.id as id, identificador_unico as identificador, BLACKBOX.nombre as nombre,
				BLACKBOX.passwd as passwd, DATO_USUARIO.id as idUsuario, DATO_USUARIO.nombre as nombreUsuario
		  FROM BLACKBOX, (
		SELECT id, nombre
		  FROM USUARIO) as DATO_USUARIO
		 WHERE DATO_USUARIO.id = BLACKBOX.usuario_id
		   AND BLACKBOX.identificador_unico = #{idUnico}
	</select>
	
	<update id="cambiarPasswd">
		UPDATE BLACKBOX
		   SET passwd=#{passwd}
		 WHERE id = #{id}
	</update>
	
	<select id="getNombrePuerto" resultType="String">
		SELECT #{puerto} FROM BLACKBOX WHERE id = #{id}
	</select>
	
	<select id="getBlackboxFullInfo" parameterType='String' resultType='BlackboxFullInfo'>
		SELECT id, identificador_unico as identificador, nombre, passwd, usuario_id as idUsuario,
				nombre_O0, nombre_O1, nombre_O2, nombre_O3, nombre_I0, nombre_I1, nombre_I2, nombre_I3
		  FROM BLACKBOX
		 WHERE identificador_unico = #{uid}
	</select>
	
	<update id="editarBlackboxFullInfo" parameterType='BlackboxFullInfo'>
		UPDATE BLACKBOX
		   SET nombre = #{nombre},
		   	   info_extra = #{informacionExtra},
		   	   nombre_O0 = #{nombre_O0},
		   	   nombre_O1 = #{nombre_O1},
		   	   nombre_O2 = #{nombre_O2},
		   	   nombre_O3 = #{nombre_O3},
		   	   nombre_I0 = #{nombre_I0},
		   	   nombre_I1 = #{nombre_I1},
		   	   nombre_I2 = #{nombre_I2},
		   	   nombre_I3 = #{nombre_I3}
		 WHERE id = #{id}
	</update>
</mapper>