<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
  
<mapper namespace='modelo.dao.mapper.TokenNuevoPasswordMapper'>

	<select id='obtenerTokenDesdeEmail' parameterType='String' resultType='TokenNuevoPassword'>
		SELECT PETICION_NUEVO_PASSWD.id as id, usuario_id as idUsuario, fecha_hora as fechaHora
  		  FROM PETICION_NUEVO_PASSWD, USUARIO
 		 WHERE usuario_id = USUARIO.id
		   AND email = #{email};
	</select>

	<insert id='insertarToken' parameterType='TokenNuevoPassword'>
		INSERT INTO peticion_nuevo_passwd
		VALUES (#{id}, #{idUsuario}, #{fechaHora});
	</insert>
	
	<select id='existeToken' parameterType='String' resultType='Boolean'>
		SELECT IF(EXISTS(
				SELECT *
              	  FROM PETICION_NUEVO_PASSWD
             	 WHERE id = #{token}
				), 1, 0);
	</select>
	
	<select id='getListaTokens' resultType='TokenNuevoPassword'>
		SELECT PETICION_NUEVO_PASSWD.id as id, usuario_id as idUsuario, fecha_hora as fechaHora
		  FROM PETICION_NUEVO_PASSWD;
	</select>
	
	<delete id='borrarToken' parameterType='String'>
		DELETE FROM PETICION_NUEVO_PASSWD
			   WHERE id = #{id};
	</delete>
	
	<select id='obtenerTokenDesdeId'  parameterType='String' resultType='TokenNuevoPassword'>
		SELECT PETICION_NUEVO_PASSWD.id as id, usuario_id as idUsuario, fecha_hora as fechaHora
  		  FROM PETICION_NUEVO_PASSWD
 		 WHERE id = #{id};
	</select>

</mapper>