<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
  
<mapper namespace='modelo.dao.mapper.UsuarioMapper'>

	<select id='getUsuario' parameterType='Usuario' resultType='Usuario'>
		SELECT id, nombre, passwd, email, administrador
		  FROM USUARIO
		 WHERE email = #{email}
		   AND passwd = #{passwd}
	</select>
	
	<select id='existeUsuario' parameterType='String' resultType='Boolean'>
		SELECT IF(EXISTS(
				SELECT *
              	  FROM USUARIO
             	 WHERE email = #{email}
			   ), 1, 0)
	</select>
	
	<select id='getNombreUsuario' parameterType='String' resultType='String'>
		SELECT nombre
		  FROM USUARIO
		 WHERE email = #{email}
	</select>
	
</mapper>